{% extends 'base.html' %}
{% block title %}
Trade History Page
{% endblock %}
{% block content %}

<div class="row" style="margin-top:20px; margin-left:20px">
   <div class="col-8">
       <h2>Looking at Previous Trades</h2>
       <br>
      <table class="table table-hover table-dark">
         <thead>
            <tr>
               <!-- Your Columns HERE -->
               <th scope="col">ID</th>
                <th scope="col">ISBN</th>
               <th scope="col">Name</th>
               <th scope="col">Traded From</th>
               <th scope="col">Traded To</th>
            </tr>
         </thead>
         <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for history in trade_history %}
            <tr>
               <td>{{ history.id }}</td>
               <td>{{ history.isbn }}</td>
               <td>{{ history.name }}</td>
               <td>{{ history.traded_from }}</td>
               <td>{{ history.traded_to }}</td>
            </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
</div>
{% endblock %}